---
import Social from './Social.astro'
---

<style>
    footer{
        display:flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>    

<footer>
    <p>Visita todas mis redes sociales:</p>
    <ul>
        <Social platform="X" username="tecnomagia_es"/>
        <Social platform="instagram" username="tecnomagia_es"/>
        <Social platform="github" username="dotero-dev"/>
        <Social platform="youtube" username="divulgandociencia.com"/>
    </ul>
</footer>